<div id="retroBoard"></div>

<script>

App.retroKey = '<%= @retro.key %>';
App.cards = [
  <% @retro.pluses.each do |plus| %>
    {type: 'plus', content: "<%= plus.content.gsub('"', '\"').html_safe %>", id: <%= plus.id %>},
  <% end %>
  <% @retro.deltas.each do |delta| %>
    {type: 'delta', content: "<%= delta.content.gsub('"', '\"').html_safe %>", votes: <%= delta.votes %>, id: <%= delta.id %>},
  <% end %>
];

</script>
