<!DOCTYPE html>
<html>
  <head>
    <title>Retrobot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  </head>

  <body>
    <div class="control-panel">
      <div>
        Retrobot
      </div>
      <div class="start-timer hide">
        <button class="btn btn-primary" id="startTimerBtn">Start timer</button>
      </div>
      <div class="timer hide"></div>
      <div class="input-group create-items hide">
        <input type="text" id="content" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" id="sendPlusBtn" type="button">Plus</button>
          <button class="btn btn-default" id="sendDeltaBtn" type="button">Delta</button>
        </span>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
